body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}

