body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}

.fon-image {
    width: 100%;
    min-height: 800px;
    background-image: url(../images/image_fon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */
.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    margin: 32px auto;
    padding: 4px 30px;
}

.header-container {
    display: flex;
}

.header-page-navigation {
    display: flex;
    gap: 375px;
    align-items: center;
}

.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-page-nav-list {
    display: flex;
    gap: 4px;
}

/*.nav-list-item {
    
}*/

.nav-list-link {
    background: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    display: block;
    font-weight: 400;
    font-size: 9px;
    /* line-height: 12px; */
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.nav-list-link:hover,
.nav-list-link:focus {
    background:#1b414b;
}

.header-page-social-list {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.social-list-item {
    width: 24px;
    height: 24px;
}

.social-list-link {
    color: #1b414b;
    background-color: #fbfbfb;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #062730;
}
/* section 1 */
.block-first {
    width: 1000px;
    text-align: center;
    margin: 155px auto 0;
    padding-bottom: 24px;
}

.block-first-title {
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    font-weight: 500;
    font-size: 80px;
}

.block-first-page {
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    width: 597px;
    margin: 24px auto 48px;
}

.button-push {
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    background: #1b414b;
}

.button-push:hover,
.button-push:focus {
    background: #fbfbfb;
}
/* section 2 */

.block-second {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-second-title {

}

.block-second-title-little {

}

.block-second-page {

}

.block-second-img {

}




